<h1>Search</h1>
<div class='mb-3'>
    <form method=''>
        <label for='exampleFormControlInput1' class='form-label'>Email address</label>
        <input
            type='text'
            name='q'
            class='form-control'
            id='exampleFormControlInput1'
            autocomplete='off'
            placeholder='Enter keywords'
        />
        <button type='submit'>Search</button>
    </form>
</div>